.fileicon_ai{
    background-image: url("../images/ai.png");
}
.fileicon_doc{
    background-image: url("../images/doc.png");
}
.fileicon_jpg{
    background-image: url("../images/jpg.png");
}
.fileicon_pdf{
    background-image: url("../images/pdf.png");
}
.fileicon_png{
    background-image: url("../images/png.png");
}
.fileicon_ppt{
    background-image: url("../images/ppt.png");
}
.fileicon_psd{
    background-image: url("../images/psd.png");
}
.fileicon_xls{
    background-image: url("../images/xls.png");
}
.fileicon_txt{
    background-image: url("../images/txt.png");
}
.fileicon_qitageshi{
    background-image: url("../images/qitageshi.png");
}